.headPages {
    margin: 40px 0 0 20px;
}

hr {
    border-top: 3px solid;
    width: 98%;
}

.hrBottom {
    position: relative;
    bottom: 0;
}

.bodyPages {
    margin: 10px 30px 0 30px;
}

.cardMain {
    margin-bottom: 40px;
    border: 3px solid;
}

.cardBody {
    text-align: center;
    margin: 0 auto 40px;
    padding-top: 0;
}

.delete-checkbox {
    margin: 15px 0 0 15px;
}

.typeDVD {
    width: 20%;
    border: 3px solid black;
    padding: 20px 10px 0 10px;
    border-radius: 3px;
    margin: 20px 0;
}

.typeBook {
    width: 21%;
    border: 3px solid black;
    padding: 20px 10px 0 10px;
    border-radius: 3px;
    margin: 20px 0;
}

.typeFurniture {
    width: 21%;
    border: 3px solid black;
    padding: 20px 10px 0 10px;
    border-radius: 3px;
    margin: 20px 0;
}

.typeFurniture label {
    padding-bottom: 10px;
    width: 90px;
}

.alignLabel {
    width: 70px;
}